<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Froggenics</title>
        <link rel="stylesheet" href="../static/style.css">
        <link rel="icon" href="../static/dumbbell-frogo.png">
    </head>

    <body>
        <section>
            <div class="row">
                <div class="one-of-two">
                    <img class="float" src="../static/logo-froggenics-abs.png" alt="">
                </div>
                <div class="one-of-two">
                    <h1><span class="highlight">Frog</span>genics</h1>
                    <p>The <span class="highlight">ultimate</span> fitness guide to your wellbeing!</p>
                </div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="one-of-two">
                    <h1>Need help <span class="highlight">motivating</span> yourself?</h1>
                    <p>Our <span class="highlight">fast</span> AI will help you reach your goals!</p>
                </div>
                <img src="../static/dumbbell-frogo.png" alt="">
            </div>
        </section>
    </body>
</html>