<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="container login_signup">
        <form action="{{url_for('login_user')}}" method="post">
            <img style="width: 30%;" src="../static/login.png" alt="">
            <h1> <span class="highlight">Frog</span>in</h1>
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <input class="form-button" type="submit" value="Login">
            <p>Don't have an account? <a class="highlight" href="{{url_for('signup')}}">Sign up!</a></p>
        </form>
    </div>
</body>

</html>